.contaner{
    background: #fff;
 }

 .flexView{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
 }
 
 .linearBg{
    width:100%;
    height: 23.4375rem;
    position: absolute;
    z-index: 1;
    background: linear-gradient(360deg, rgba(232, 233, 235, 0) 0%, #9799A2 35%, #33333F 100%);
 }
 
 .mapBg{
    height: 190px;
    position: absolute;
    z-index: 2;
 }
 
 .card{
   height: 36.6875rem;
   background: #fff;
   border-radius: 1rem;
   margin-top: 1.875rem;
   padding: 1.25rem;
}

 .content{
    position: relative;
    z-index: 3;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-bottom: 1.9375rem;
    overflow: hidden;
 }

 .cardContainer {
   margin-top: 5rem;
 }

 .cardContent {
  position: relative;
  width: 100%;
  background: linear-gradient(180deg, rgba(36, 216, 149, 0.07) 0%, rgba(36, 216, 149, 0) 100%);
  border-radius: .5rem .5rem 0px 0px;
  padding: 1.625rem 1.25rem;
}

.title {
   width: 9.3125rem;
   height: 1.25rem;
   font-size: 1.25rem;
   font-family: PingFangSC-Semibold, PingFang SC;
   font-weight: 600;
   color: #0E1213;
   line-height: 1.25rem;
}

.contentBox {
   width: 19.4375rem;
   height: 3.9375rem;
   font-size: .875rem;
   font-family: PingFangSC-Regular, PingFang SC;
   font-weight: 400;
   color: #626D7E;
   line-height: 1.3125rem;
   margin-top: .75rem;
}

.boxContainer {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 9.4375rem;
   margin-top: 2.5rem;
   /* background-color: red; */
}
.box_left , .box_right {
   position: relative;
   width: 9.4375rem;
   height: 9.4375rem;
   background-color: rgba(52, 180, 152, .1);
   border-radius: .5rem;
}
.imgBox {
   position: absolute;
   top: 2.25rem;
   left: 50%;
   transform: translateX(-50%);
   width: 2.75rem;
   height: 2.75rem;
}

.imgBox img {
   width: 100%;
   height: 100%;
}

.imgBox_text {
   position: absolute;
   top: 6.25rem;
   left: 50%;
   transform: translateX(-50%);
   height: .875rem;
   font-size: .875rem;
   font-family: PingFangSC-Medium, PingFang SC;
   font-weight: 500;
   color: #34B498;
   line-height: .875rem;
   white-space: nowrap;
}

.isRight {
   position: absolute;
   right: 0;
   bottom: 0;
   width: 1.5rem;
   height: 1.5rem;
}

.isRight img {
   width: 100%;
   height: 100%;
}

.imgBox_text_wrong {
   position: absolute;
   top: 6.25rem;
   left: 50%;
   transform: translateX(-50%);
   height: .875rem;
   font-size: .875rem;
   font-family: PingFangSC-Medium, PingFang SC;
   font-weight: 500;
   color: #9099A9;
   line-height: .875rem;
   white-space: nowrap;

}