.contaner{
    background: linear-gradient(360deg, rgba(232, 233, 235, 0) 0%, #656568 100%);
    overflow-x: hidden;
 }
 
 .flexView{
    display: flex;
    align-items: center;
    flex-direction: row;
 }
 
 .title{
    font-size: 24px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 24px;
 }
 
 .content{
    position: relative;
    z-index: 2;
    padding-top: 74px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 31px;
 }

 .text{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 14px;
}

.fromView{
    height: 320px;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 33px;
    position: relative;
}

.fromBg{
    height: 320px;
    position: absolute;
}

.fromContent{
    height: 254px;
    position: absolute;
}

.loginType{
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #0E1213;
    line-height: 22px;
    margin-bottom: 10px;
}

.areaCode{
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #626D7E;
    line-height: 22px;
}

.numInput{
    flex: 1;
    height: 30px;
    margin-left: 9px;
    border-width: 0;
}

.pwdInput{
    width: 100%;
    height: 30px;
    border-width: 0;
}

.forget{
    font-size: 14px;
    font-family: FavoritStd-Regular, FavoritStd;
    font-weight: 400;
    color: #9099A9;
    line-height: 17px;
}

.mapBg{
    width: 100%;
    height: 190px;
    position: absolute;
    z-index: 1;
}

.verifInput{
    flex: 1;
    height: 30px;
    border-width: 0;
}
