.contaner {
  background: #fff;
}

.flexView {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.linearBg {
  width: 100%;
  height: 23.4375rem;
  position: absolute;
  z-index: 1;
  background: linear-gradient(
    360deg,
    rgba(232, 233, 235, 0) 0%,
    #9799a2 35%,
    #33333f 100%
  );
}

.mapBg {
  height: 190px;
  position: absolute;
  z-index: 2;
}

.card {
  position: relative;
  height: 32.375rem;
  background: #fff;
  border-radius: 1rem;
  margin-top: 1.875rem;
  padding: 1.25rem;
}

.content {
  position: relative;
  z-index: 3;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 1.9375rem;
  overflow: hidden;
}

.cardContainer {
  margin-top: 7.125rem;
}

.cardContent {
  position: relative;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(36, 216, 149, 0.07) 0%,
    rgba(36, 216, 149, 0) 100%
  );
  border-radius: 0.5rem 0.5rem 0px 0px;
  padding: 1.625rem 1.25rem;
}

.back {
  padding-right: 0.625rem;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 4.375rem;
  left: 0.75rem;
}

.back img {
  width: 100%;
  height: 100%;
}

.inputPhoneNumber {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 19.4375rem;
  height: 3.125rem;
  background: #f6f6f6;
  border-radius: 0.25rem;
}

.inputStyles {
  width: 14.375rem;
  background: none;
  outline: none;
  border: none;
}

.areaNumber {
  display: flex;
  align-items: center;
}

.number {
  display: inline-block;
  margin-left: 0.625rem;
  width: 2.3125rem;
  height: 1.375rem;
  font-size: 1rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #626d7e;
  line-height: 1.375rem;
}

.expand {
  width: 0.875rem;
  height: 0.875rem;
}

.line {
  margin: 0 0.3125rem;
  color: #626d7e;
}

.inputStyles::-webkit-input-placeholder {
  width: 9.75rem;
  height: 1.25rem;
  font-size: 0.875rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #9099a9;
  line-height: 1.25rem;
}

.verifyCode {
  margin: 1.25rem auto;
  display: flex;
  justify-content: space-between;
  width: 19.4375rem;
  height: 3.125rem;
}

.codeInputStyles {
  box-sizing: border-box;
  padding-left: 0.625rem;
  width: 14.6875rem;
  height: 3.125rem;
  background: #f6f6f6;
  border-radius: 0.25rem;
  outline: none;
  border: none;
}
.codeInputStyles::-webkit-input-placeholder {
  width: 10.3125rem;
  height: 1.25rem;
  font-size: 0.875rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #9099a9;
  line-height: 1.25rem;
}

.confirm {
  margin: 2.5rem auto;
  width: 19.4375rem;
  height: 2.75rem;
  background: #34b498;
  border-radius: 0.25rem;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm span {
  height: 1.375rem;
  font-size: 1rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.375rem;
}

.emailSty {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  width: 100%;
}

.modelStyle {
  position: relative;
  width: 18.75rem;
  height: 20.4375rem;
  background: #ffffff;
  border-radius: 0.5rem;
}

.imageBox {
  width: 2.75rem;
  height: 2.75rem;
  position: absolute;
  top: 3.1875rem;
  left: 50%;
  transform: translateX(-50%);
}

.imageBox img {
  width: 100%;
  height: 100%;
}
.modelText {
  position: absolute;
  top: 8.8125rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 16.75rem;
  height: 3rem;
  font-size: 1rem;
  font-family: PingFangTC-Medium, PingFangTC;
  font-weight: 500;
  color: #141516;
  line-height: 1.5rem;
}

.modelSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 14.5625rem;
  transform: translateX(-50%);
  width: 16.25rem;
  height: 2.75rem;
  background: #34b498;
  border-radius: 0.25rem;
}

.modelSubmit span {
  font-size: 1rem;
  font-family: PingFangTC-Medium, PingFangTC;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.375rem;
}
