/* @关闭手机验证 */
.contaner {
  background: #fff;
}

.flexView {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.linearBg {
  width: 100%;
  height: 23.4375rem;
  position: absolute;
  z-index: 1;
  background: linear-gradient(
    360deg,
    rgba(232, 233, 235, 0) 0%,
    #9799a2 35%,
    #33333f 100%
  );
}

.mapBg {
  height: 190px;
  position: absolute;
  z-index: 2;
}

.card {
  position: relative;
  height: 32.375rem;
  background: #fff;
  border-radius: 1rem;
  margin-top: 1.875rem;
  padding: 1.25rem;
}

.content {
  position: relative;
  z-index: 3;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 1.9375rem;
  overflow: hidden;
}

.cardContainer {
  margin-top: 7.125rem;
}

.cardContent {
  position: relative;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(36, 216, 149, 0.07) 0%,
    rgba(36, 216, 149, 0) 100%
  );
  border-radius: 0.5rem 0.5rem 0px 0px;
  padding: 1.625rem 1.25rem;
}

.back {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 4.375rem;
  left: 0.75rem;
}

.back img {
  width: 100%;
  height: 100%;
}

.titleBox {
  height: 0.875rem;
  font-size: 0.875rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #141516;
  line-height: 0.875rem;
}

.phoneCode {
  position: absolute;
  top: 3.375rem;
  left: 50%;
  transform: translateX(-50%);
  width: 19.4375rem;
  height: 3.125rem;
  display: flex;
  justify-content: space-between;
}

.inputBox {
  width: 14.6875rem;
  height: 3.125rem;
}

.phoneCodeInput {
  box-sizing: border-box;
  padding: 0 0.625rem;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: #f6f6f6;
}

.phoneCodeInput::-webkit-input-placeholder {
  font-size: 0.875rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #9099a9;
  line-height: 1.25rem;
}

.titleBox2 {
  position: absolute;
  top: 7.5rem;

  width: 19.4375rem;
  height: 2.625rem;
  font-size: 0.875rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #141516;
  line-height: 1.3125rem;
}

.phoneCode1 {
  position: absolute;
  top: 11.375rem;
  left: 50%;
  transform: translateX(-50%);
  width: 19.4375rem;
  height: 3.125rem;
  display: flex;
  justify-content: space-between;
}

.subMit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 17rem;
  left: 50%;
  transform: translateX(-50%);
  width: 19.4375rem;
  height: 2.75rem;
  background: #34b498;
  border-radius: 0.25rem;
  opacity: 0.5;
}

.subMit span {
  height: 1.375rem;
  font-size: 1rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.375rem;
}
